@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap");

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
}

.AgeGenderPage {
  display: flex;
  flex-direction: column;
}

.WeightPage {
  display: flex;
  flex-direction: column;
}

.pageContent p {
  width: 40%;
  margin-bottom: 30px;
}

/* Get stated page styling */

.GetStarted {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: "Bebas Neue", cursive;
  margin: 0px;
}

.headingOne {
  font-family: "Bebas Neue", cursive;
  margin: 0px;
}

.getStartedText {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

/* NavBar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
  margin: 0 !important;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
}

.navbarItems {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 40px;
}

.navabarItem {
  list-style: none;
}

/* Path */

/* AgeGender */
.ageInput {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  padding-left: 10px;
  width: 100px;
  font-family: "Barlow", sans-serif;
  border: 1px #f5f5f5 solid;
}

.InputStyle {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  padding-left: 10px;
}

.invalidInput {
  color: red;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 0;
}

.confirmation p {
  margin-bottom: 0;
  width: 100%;
}

.pageDesign {
  display: flex;
}

.topHalf {
  margin-top: 20%;
}

.leftSide {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin: 0px;
  justify-content: space-between;
  padding: 20px;
}

.buttonGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  margin-bottom: 40px;
}

.Button {
  padding: 10px 40px 10px 40px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: 0.3s;
  background-color: gray;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
}

.Button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0.8;
}

.select-dropdown,
.select-dropdown * {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  width: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  padding: 10px 26px 10px 12px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.paraText {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5;
  padding-right: 20px;
}

.ageGenderContainer {
  display: flex;
  gap: 50px;
}

.weightInputContainer {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.weightInput {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  padding-left: 10px;
  width: 140px;
  font-family: "Barlow", sans-serif;
  border: 1px #f5f5f5 solid;
}

.rightSide {
  height: 100vh;
  width: 40%;
}

.rightSideImage {
  height: auto;
  left: 0;
  margin: 0;
  min-height: auto;
  padding: 0;
  top: 0;
  width: 100%;
  background-size: cover;
}

.rightSideImage {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.rightSideImage:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.9;
}
